<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="gnome-config">
<sect1info>
<othername>$LastChangedBy$</othername>
<date>$Date$</date>
</sect1info>
<?dbhtml filename="config.html"?>
<title>Configuring the core GNOME packages</title>


<para>Create (or append to) an <filename>.xinitrc</filename> file to start 
<application><acronym>GNOME</acronym></application>:</para>

<screen><userinput><command>echo "exec gnome-session" &gt;&gt; ~/.xinitrc</command></userinput></screen>

<para>Ensure all libraries can be found with (as root):</para>

<screen><userinput><command>ldconfig</command></userinput></screen>

<para>Update the <acronym>MIME</acronym>-type application database 
(as root):</para>

<screen><userinput><command>update-desktop-database</command></userinput></screen>

<para>At this point you can bring up
<application><acronym>GNOME</acronym></application> with
<command>startx</command>.</para>

</sect1>
