<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<chapter id="content-web">
<?dbhtml filename="web.html"?>
<title>Web serving</title>

<para>This chapter includes applications that respond to requests
originating from <acronym>LAN</acronym>, intranet and internet clients.  Specifically covered are
<acronym>HTTP</acronym> requests and <acronym>FTP</acronym>
requests.</para>

<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="apache.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="php.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="proftpd.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="vsftpd.xml"/> 

</chapter>
