<chapter id="content-web">
<?dbhtml filename="web.html"?>
<title>Web serving</title>

<para>This chapter includes applications that respond to requests
originating from <acronym>LAN</acronym>, intranet and internet clients.  Specifically covered are
<acronym>HTTP</acronym> requests and <acronym>FTP</acronym>
requests.</para>

&apache;
&php; 
&proftpd;

</chapter>
