<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="kde-core-config">
  <?dbhtml filename="config.html"?>

  <sect1info>
    <othername>$LastChangedBy$</othername>
    <date>$Date$</date>
  </sect1info>

  <title>Configuring the Core Trinity/KDE3 Packages</title>

  <para>Back up your existing <filename>~/.xinitrc</filename> file
  and create a new <filename>.xinitrc</filename> file to start
  <application>Trinity/KDE3</application>:</para>

<screen><userinput>echo "exec startkde" &gt; ~/.xinitrc</userinput></screen>

  <indexterm zone="kde-core-config">
    <primary sortas="e-AA.xinitrc">~/.xinitrc</primary>
  </indexterm>

  <para>If you have <xref linkend="dbus"/> installed, you can start the
  <application>D-BUS</application> session daemon here as well. Starting the
  session daemon here has the added bonus that it will exit when you log out
  of your <application>Trinity/KDE3</application> session. If you wish to start the
  daemon here, use the following command instead of the one shown above:</para>

<screen><userinput>echo "exec dbus-launch --exit-with-session startkde" &gt;&gt; ~/.xinitrc</userinput></screen>

  <note>
    <para>Check the <filename>~/.xinitrc</filename> file and ensure you have
    no other window managers or other <application>X</application> applications
    mentioned before <application>KDE</application>.</para>
  </note>

  <para>If you installed the <xref linkend="desktop-file-utils"/> package,
  ensure the <envar>XDG_DATA_DIRS</envar> and <envar>XDG_CONFIG_DIRS</envar>
  environment variables are configured properly as explained in that package
  and update the MIME-type application database (as <systemitem
  class="username">root</systemitem>):</para>

<screen role="root"><userinput>update-desktop-database</userinput></screen>

  <para>Ensure all libraries can be found with (as
  <systemitem class="username">root</systemitem>):</para>

<screen role="root"><userinput>ldconfig</userinput></screen>

  <para>At this point you can bring up <application>Trinity/KDE3</application> with:</para>

<screen><userinput>startx</userinput></screen>

   <para>Set the PATHs used for the installation in the login startup
   files.  If you installed <application>Trinity/KDE3</application> in the
   recommended versioned directory, /opt/trinity-&trinity-version;, create a
   generic symbiolic link as the <systemitem class="username">root</systemitem>
   user:</para>

<screen role='root'><userinput>ln -sf trinity-&trinity-version; /opt/trinity</userinput></screen>

   <para>Now update the search path for dynamic libraries and update the cache.  
   As the <systemitem class="username">root</systemitem> user:</para>

<screen role='root'><userinput>echo "/opt/trinity/lib" &gt;&gt; /etc/ld.so.conf &amp;&amp;
ldconfig</userinput></screen>

   <para>Set the paths.  Thee are several ways to do this.  You can edit
   <filename>/etc/profile</filename>, or <filename>~/.bash_/profile</filename>
   to add the paths.  If you used the recommended procedure in <xref
   linkend='postlfs-config-profile'/>, run the following as the <systemitem
   class="username">root</systemitem> user:</para>

<screen role='root'><userinput>cat &gt; /etc/profile.d/extrapaths.sh &lt;&lt; "EOF"
<literal>
pathprepend /opt/trinity/bin                   PATH
pathappend  /opt/trinity/share/man             MANPATH
pathappend  /opt/trinity/lib/pkgconfig         PKG_CONFIG_PATH</literal>
EOF</userinput></screen>

  <para>To set the paths immediately, run <userinput>source /etc/profile</userinput>.</para>

</sect1>
