<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="kde-core-config">
<sect1info>
<othername>$LastChangedBy$</othername>
<date>$Date$</date>
</sect1info>
<?dbhtml filename="config.html"?>
<title>Configuring the core <acronym>KDE</acronym> packages</title>

<para>Create an <filename>.xinitrc</filename> file to start
<acronym>KDE</acronym>:</para>

<screen><userinput><command>echo "exec startkde" &gt; ~/.xinitrc</command></userinput></screen>

<para>Ensure all libraries can be found with:</para>
<screen><userinput><command>ldconfig</command></userinput></screen>

<para>At this point you can bring up <acronym>KDE</acronym> with:</para>
<screen><userinput><command>startx</command></userinput></screen>

</sect1>
