<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN"
   "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="kde-core-config">
  <?dbhtml filename="config.html"?>

  <sect1info>
    <othername>$LastChangedBy$</othername>
    <date>$Date$</date>
  </sect1info>

  <title>Configuring the Core KDE Packages</title>

  <para>Back up your existing <filename>~/.xinitrc</filename> file
  and create a new <filename>.xinitrc</filename> file to start
  <application>KDE</application>:</para>

<screen><userinput>echo "exec startkde" &gt; ~/.xinitrc</userinput></screen>

  <indexterm zone="kde-core-config">
    <primary sortas="e-AA.xinitrc">~/.xinitrc</primary>
  </indexterm>

  <para>If you installed the <xref linkend="desktop-file-utils"/> package,
  update the MIME-type application database (as
  <systemitem class="username">root</systemitem>):</para>

<screen role="root"><userinput>update-desktop-database</userinput></screen>

  <para>Ensure all libraries can be found with (as
  <systemitem class="username">root</systemitem>):</para>

<screen role="root"><userinput>ldconfig</userinput></screen>

  <note>

    <para>When starting a new version of <application>KDE</application> for the
    first time, problems have been observed with the
    <application>KDE</application> menu system when a user has established a
    configuration with a previous version.  To correct this, one technique that
    works is to rename the existing home directory and create a new one with
    <emphasis>only</emphasis> an <filename>~/.xinitrc</filename> file.  You
    should also delete the directories <filename
    class='directory'>/tmp/kde-<replaceable>&lt;userid&gt;</replaceable></filename>,
    <filename
    class='directory'>/tmp/ksocket-<replaceable>&lt;userid&gt;</replaceable></filename>,
    and <filename
    class='directory'>/var/tmp/kdecache-<replaceable>&lt;userid&gt;</replaceable></filename>.
    Then log out and log in again to ensure the new directory is in use.  Now,
    starting <application>KDE</application> will rebuild the menus.</para>

    <para>Move or copy any needed files from the old home directory to the
    new one.  Do not move or copy the old <application>KDE</application>
    configuration files:
    <filename class='directory'>.kde</filename>,
    <filename>.kderc</filename>,
    <filename class='directory'>.fonts.cache-1</filename>,
    <filename class='directory'>.local</filename>,
    <filename class='directory'>.qt</filename>,
    <filename class='directory'>.mcop</filename>,
    <filename>.DCOPserver*</filename>,
    and <filename class='directory'>Desktop</filename>.</para>

    <para>This technique may need to be repeated after adding additional
    optional packages.</para>
  </note>

  <para>At this point you can bring up <application>KDE</application> with:</para>

<screen><userinput>startx</userinput></screen>

</sect1>
