<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="kde-core-config" xreflabel="Starting KDE">
  <?dbhtml filename="config.html"?>

  <sect1info>
    <othername>$LastChangedBy$</othername>
    <date>$Date$</date>
  </sect1info>

  <title>Starting KDE</title>
  
  <para>After <application>Kde-workspace</application> has been installed, the 
  first important milestone has been reached. Now you need to configure your 
  system to start KDE.</para>
  
  <sect2 role="content">
  <title>Starting KDE from the command prompt</title>

 <para>To start <application>KDE</application> from the command prompt, you 
 first need to modify your <filename>.xinitrc</filename> file:</para>
    
<screen><userinput>cat > ~/.xinitrc &lt;&lt;EOF
# Begin .xinitrc

exec ck-launch-session dbus-launch --exit-with-session startkde

# End .xinitrc
EOF</userinput></screen>

    <note><para>If you are not using <application>ConsoleKit</application>, remove 
    <userinput>ck-launch-session</userinput>.</para></note>
    
    <para>You can now start KDE using the <command>startx</command> command.</para>
      
    </sect2>
    
    <sect2 role="content">
    <title>Starting KDE at boot</title>
    
    <para>KDE comes with a graphical login interface called KDM (the KDE Display 
    Manager). KDM provides a customizable graphical login at boot. To use KDM, 
    you need to edit your <filename>/etc/inittab</filename> file (as the 
    <systemitem class="username">root</systemitem> user).
    First, setup run-level 5 to start KDM by adding the following line (adjust 
    the path to kdm according to your system):</para>
    
<screen><userinput>kd:5:respawn:&kde-dir;/bin/kdm</userinput></screen>

    <para>Additionally, you need to change the default run-level from 3 to 5. This 
    is done by changing the line:</para>

<screen><userinput>id:3:initdefault:</userinput></screen>

    <para>To:</para>

<screen><userinput>id:5:initdefault:</userinput></screen>
  
    <para>You can now restart your system and see the beautiful KDE login 
    screen.</para>
  
  </sect2>
  
  <sect2 role="content">
    <title>Installing further KDE packages</title>
    <para>Every subsequent package can be built while having <application>KDE</application> up and 
    running, but remember to keep <envar>&kde-dir;</envar> and <envar>&qt-dir;</envar> set.</para>
  </sect2>
   
</sect1>